body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f9;
    color: #333;
}
#quiz-container {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: auto;
}
#question {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
#question img {
    margin-right: 10px;
    width: 10px;
    border-radius: 50%; 
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    padding: 6px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    object-fit: contain;
    box-sizing: border-box;
}
#answers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.answer {
    display: flex;
    align-items: center;
    gap: 5px; /* Space between the checkbox and the label text */
    margin-bottom: 5px;
}
.answer img {
    width: 10px;
    border-radius: 50%; 
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    padding: 6px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    object-fit: contain;
    box-sizing: border-box;
}

.answer input {
    margin-right: 5px;
}
button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}


.bug {
    background: #92BC2C;
    box-shadow: 0 0 20px #92BC2C;
}

.dark {
    background: #595761;
    box-shadow: 0 0 20px #595761;
}

.dragon {
    background: #0C69C8;
    box-shadow: 0 0 20px #0C69C8;
}

.electric {
    background: #F2D94E;
    box-shadow: 0 0 20px #F2D94E;
}

.fire {
    background: #FBA54C;
    box-shadow: 0 0 20px #FBA54C;
}

.fairy {
    background: #EE90E6;
    box-shadow: 0 0 20px #EE90E6;
}

.fighting {
    background: #D3425F;
    box-shadow: 0 0 20px #D3425F;
}

.flying {
    background: #A1BBEC;
    box-shadow: 0 0 20px #A1BBEC;
}

.ghost {
    background: #5F6DBC;
    box-shadow: 0 0 20px #5F6DBC;
}

.grass {
    background: #5FBD58;
    box-shadow: 0 0 20px #5FBD58;
}

.ground {
    background: #DA7C4D;
    box-shadow: 0 0 20px #DA7C4D;
}

.ice {
    background: #75D0C1;
    box-shadow: 0 0 20px #75D0C1;
}

.normal {
    background: #A0A29F;
    box-shadow: 0 0 20px #A0A29F;
}

.poison {
    background: #B763CF;
    box-shadow: 0 0 20px #B763CF;
}

.psychic {
    background: #FA8581;
    box-shadow: 0 0 20px #FA8581;
}

.rock {
    background: #C9BB8A;
    box-shadow: 0 0 20px #C9BB8A;
}

.steel {
    background: #5695A3;
    box-shadow: 0 0 20px #5695A3;
}

.water {
    background: #539DDF;
    box-shadow: 0 0 20px #539DDF;
}

.correct {
    background-color: lightgreen;
}

.incorrect {
    background-color: #f08080;
}

.missed {
    background-color: #f08080;
}
#resultIcon {
    margin-left: 10px;
}

#info-sidebar {
    position: fixed; 
    top: 27px; 
    right: 27px; 
    width: 260px; 
    background-color: #f9f9f9; 
    border: 1px solid #ccc; 
    padding: 10px; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

#info-sidebar h3 {
    font-size: 18px;
    color: #333; 
    margin-bottom: 10px;
}

#info-sidebar ul {
    list-style-type: none;
    padding: 0; 
    margin: 0;
}

#info-sidebar li {
    font-size: 14px;
    margin-bottom: 8px;
}

#questionProgress {
    font-size: 16px;
    font-weight: bold;
    color: #3a3a3a;
    margin-bottom: 15px;
}

#intro-container {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

#back-to-intro {
    position: absolute; 
    top: 10px; 
    left: 10px; 
    padding: 10px 20px; 
    background-color: #007BFF;
    color: white; 
    border: none; 
    border-radius: 5px;
    cursor: pointer;
}

#back-to-intro:hover {
    background-color: #0056b3; 
}